@import "/css/base.css";
/*? Description */
.description {
  margin-bottom: -33%;
  border: 2px dashed var(--sidebar-background-color);
  padding: 20px;
  width: 90%;
}

.description p {
  width: 79%;
}

.tab {
  margin-left: 1.5em;
}

/*Picture*/
.pp {
  display: flex;
  flex-flow: column;
  align-items: end;
}

.pp blockquote {
  width: fit-content;
  background-color: rgb(221, 210, 210);
}

/*FAQ*/

.faq-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--text);
  color: var(--text-color);
}

.answer {
  padding: 10px;
  font-size: 1rem;
  display: none;
}

.faq-question.active .icon {
  content: "-";
}

.separator{
  position: absolute;
  display: flex;
  margin-left: -17px;
}
.separator img{
  width: 230px;
}