@import "/css/base.css";

.title {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    transition: transform .3s cubic-bezier(.22, 1, .36, 1)
}

.title:hover {
    transform: rotate(-3deg) scale(1.02)
}

.sprites {
    margin: 8%;
    text-align: left;
}

.license {
    position: absolute;
    top:100;
}