@import "/base.css";

.hcb-icon,
.home-desc,
h3 {
    display: none;
}

#aquarium {
    position: relative;
    margin-bottom: -12%;
    margin-left: 35%;
    width: 17%;
}

@media (max-width: 800px) {
    #aquarium {
        position: relative;
        margin-bottom: -12%;
        margin-left: 45%;
        width: 25%;
    }
}